#flat-black-player-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

#player-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.amplitude-play-pause {
  height: 40px;
  margin-right: 10px;
  font-size: 40px;
  color: rgb(0, 188, 140);
}

#play-pause {
  cursor: pointer;
  align-content: flex-end;
}

#control-container::after {
  content: '';
  display: table;
  clear: both;
}

#player-progress-bar-container {
  width: 95%;
  position: relative;
}
#song-played-progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  border: none;
  cursor: pointer;
  background: transparent;
}

#song-played-progress[value]::-webkit-progress-value {
  background: linear-gradient(
    to right,
    rgb(0, 188, 140) 0%,
    rgb(61, 133, 140) 100%,
    rgb(115, 115, 115) 100%,
    rgb(115, 115, 115) 100%
  );
}

#song-buffered-progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  border: none;
  background: transparent;
}

#song-buffered-progress[value]::-webkit-progress-value {
  background-color: rgba(255, 255, 255, 0.5);
  transition: width 0.1s ease;
}

#time-container {
  color: white;
  width: 100%;
  background-color: #000;
  font-size: 14px;
  font-weight: bold;
}

.amplitude-duration-time {
  position: absolute;
  top: 5px;
  right: 0px;
}

.amplitude-current-time {
  position: absolute;
  top: 5px;
  left: 0px;
}
.song-name {
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: block;
}

#volume-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.volume-height-container {
  height: 16px;
}

.amplitude-volume-slider {
  width: 100px;
  height: 1px;
  margin-left: 8px;
  -webkit-appearance: none;
  display: block;
}
.amplitude-volume-slider:focus {
  outline: none;
}
.amplitude-volume-slider::-webkit-slider-runnable-track {
  width: 75%;
  height: 2px;
  cursor: pointer;
  background: #cfd8dc;
}
.amplitude-volume-slider::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  background-color: white;
  cursor: pointer;
  margin-top: -8px;
  -webkit-appearance: none;
  border-radius: 20px;
}
